@{
    ViewData["Title"] = "Home Page";
}

@model List<Bowler>

<h1>Bowler Contacts</h1>

@*<ul>
        @foreach (var b in Model)
        {
            <li>@b.BowlerID - @b.BowlerFirstName</li>
        }
    </ul>*@

@foreach (var b in Model)
{
    @*<li></li>*@


    <div class="card card-outline-primary m-1 p-1">
        <div class="bg-light p-1">
            <h4>
                @b.BowlerFirstName @b.BowlerMiddleInit @b.BowlerLastName
            </h4>
        </div>
        <div class="card-text p-1">ID: @b.BowlerID</div>

        <ul>
            <li>Address: @b.BowlerAddress</li>
            <li>City: @b.BowlerCity</li>
            <li>State: @b.BowlerState</li>
            <li>Zip: @b.BowlerZip</li>
            <li>Phone Number: @b.BowlerPhoneNumber</li>
            <li><a asp-controller="Home" asp-action="Edit" asp-route-bowlerId="@b.BowlerID" class="btn btn-info">Edit</a></li>
            <li><a asp-controller="Home" asp-action="Delete" asp-route-bowlerId="@b.BowlerID" class="btn btn-info">Delete</a></li>
        </ul>
    </div>

}
<a asp-controller="Home" asp-action="AddBowler" class="btn bg-success col-lg mb-5">Add A Bowler</a>
